.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;



}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;

}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    font: inherit;
    box-shadow: #7E7365;
    elevation: above;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;

}

.InputElement:focus {
    outline: #039be5;
    background: white;
    border: 1px solid #039be5;
}